@use '../styles/variables' as *;

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 480px;
  margin: 0 auto;
}

.content {
  width: 100%;
  min-height: 100vh;
  padding: 72px 16px 24px;
  overflow-y: auto;
}
