@use '../styles/variables' as *;

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 480px;
  margin: 0 auto;
  background-color: $white;
}

.content {
  width: 100%;
  min-height: 100vh;
  padding: 68px 16px 32px;
  overflow-y: auto;
}
